@import "../../../../variables.scss";

:host {
  width: auto;
}

.container-subjects {
  width: 75%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}

.table-subjects {
  width: 100%;
  margin-top: 1em;
}
