<div class="container-component">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="element.id"> {{element.name}} </a></td>
      </ng-container>

      <ng-container matColumnDef="courseType">
        <th mat-header-cell *matHeaderCellDef> Course Type </th>
        <td mat-cell *matCellDef="let element"> {{element.courseType}} </td>
      </ng-container>

      <ng-container matColumnDef="ECTS">
        <th mat-header-cell *matHeaderCellDef> ECTS </th>
        <td mat-cell *matCellDef="let element"> {{element.ects}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
