$bg-color: #f5f5f5;
$base-color: #107a8b;
$base-dark-color: #40514e;
$error-color: #e74c3c;
$success-color: #2ecc71;

* {
  font-family: "Times New Roman";
}
.logo {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}
.login-page {
  width: 360px;
  padding: 4% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: $bg-color;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: $bg-color;
  width: 100%;
  border: 1px solid $base-color;
  margin: 15px 0 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: 0.5s;
}

.form input:focus {
  border: 1px solid $base-dark-color;
  transition: 0.5s;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: $base-color;
  width: 100%;
  border: 0;
  padding: 15px;
  color: $bg-color;
  font-size: 14px;
  cursor: pointer;
  margin: 15px 0 0;
}
.form button:hover,.form button:active,.form button:focus {
  background: $base-dark-color;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: $base-color;
  text-decoration: none;
}

.form .error {
  color: $error-color;
}

.form .success {
  color: $success-color;
}

.form p.invalid {
  margin: 0;
  text-align: left;
}
