<div class="container-component">
  <h2 *ngIf="isAdd">Add news</h2>
  <h2 *ngIf="!isAdd">Edit news</h2>
  <div class="news-form">
    <form>
      <mat-form-field appearance="standard">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="newsToEdit.title" name="title">
      </mat-form-field>

      <label>Description</label>
      <angular-editor [config]="editorConfig" [(ngModel)]="newsToEdit.description" name="description"></angular-editor>

      <button mat-button aria-label="Add news button" class="add-button" (click)="saveNews()">
        <mat-icon>add_circle_outline</mat-icon>
        <span *ngIf="isAdd">Add news</span>
        <span *ngIf="!isAdd">Edit news</span>
      </button>
    </form>
  </div>
</div>
