@import "../../../variables.scss";

$icon-size: 24px;
$icon-scale: 1.5;

ul.menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  > li {
    width: 100%;
    list-style-type: none;
    margin: 1em 0 0 0;

    > a {
      display: flex;
      flex-direction: column;
      color: $white;
      font-size: $icon-size;
      text-decoration: none;

      > mat-icon {
        transform: scale($icon-scale);
        transform-origin: top left;
        margin: 20px 0 10px calc((#{$width-menu} - (#{$icon-scale} * #{$icon-size}))/2);
        color: $white;
      }

      > span {
        font-size: 18px;
        margin-top: 10px;
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  > li:hover > a {
    color: $base-color-light;
  }

  > li:hover > a > mat-icon {
    // This filter is for #278ea5 color. If you change $base-color-light or color for ' ul.menu > li:hover > a' property then also change this filter.
    // Filter generator: https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(43%) sepia(72%) saturate(438%) hue-rotate(144deg) brightness(95%) contrast(91%);
  }
}
