<ul class="menu">
  <li><a [routerLink]="['/dashboard']">
    <mat-icon svgIcon="home" aria-hidden="false" aria-label="Home Page"></mat-icon>
    <span>Home</span>
  </a></li>
  <li><a [routerLink]="[{ outlets: { panel: ['enrollment'] }}]">
    <mat-icon svgIcon="enrollment" aria-hidden="false" aria-label="Enrollment"></mat-icon>
    <span>Enrollment</span>
  </a></li>
  <li><a [routerLink]="[{ outlets: { panel: ['subjects'] }}]">
    <mat-icon svgIcon="subjects" aria-hidden="false" aria-label="Subjects"></mat-icon>
    <span>Subjects</span>
  </a></li>
  <li><a [routerLink]="[{ outlets: { panel: ['profile'] }}]">
    <mat-icon svgIcon="profile" aria-hidden="false" aria-label="Profile"></mat-icon>
    <span>Profile</span>
  </a></li>
  <li><a routerLink="/logout"><mat-icon svgIcon="signout" aria-hidden="false" aria-label="Sign Out"></mat-icon>
    <span>Sign out</span>
  </a></li>
</ul>
