.top-info {
  display: flex;
  flex-direction: row;
}

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 0.5em;
  background-color: #d8d8d8;
}

.actions {
  display: flex;
}

.description {
  background-color: #ececec;
  padding: 0.5em;
}

.footer-news {
  width: 100%;
  display: flex;
  font-size: 10px;
  color: #b3b3b3;
}
