:host {
  width: auto;
}

.container-university {
  width: 75%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}

.form-add-faculty {
  display: flex;
  flex-direction: row;

  > mat-form-field {
    width: 25%;
    margin: 0 1%;
    &:first-child {
      margin-left: 2%;
    }
  }

  > button {
    width: 15%;
    margin-left: 1%;
    margin-right: 2%;
  }
}

.add-button {
  float: right;
}

.table-faculty {
  width: 100%;
  margin-top: 1em;
}
