<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Faculty">
    <div class="container-component">
      <div class="form-add-faculty">
        <form (ngSubmit)="fFaculty.form.valid && saveFaculty(fFaculty)" #fFaculty="ngForm" novalidate>
          <div class="input-item">
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput [(ngModel)]="facultyToSave.name" name="name"
                     required minlength="5" maxlength="100" #nameFaculty="ngModel">
            </mat-form-field>
            <div class="message-container" *ngIf="fFaculty.submitted && nameFaculty.invalid">
              <span class="message error" *ngIf="nameFaculty.errors.required">Name is required!</span>
              <span class="message error" *ngIf="nameFaculty.errors.minlength">Name must be at least 5 characters</span>
            </div>
          </div>

          <div class="input-item">
            <mat-form-field appearance="standard">
              <mat-label>Address</mat-label>
              <input matInput [(ngModel)]="facultyToSave.address" name="address" maxlength="100">
            </mat-form-field>
          </div>

          <div class="input-item">
            <mat-form-field appearance="standard">
              <mat-label>Abbreviation</mat-label>
              <input matInput [(ngModel)]="facultyToSave.abbreviation" name="abbreviation"
                     required minlength="2" maxlength="20" #abbreviationFaculty="ngModel">
            </mat-form-field>
            <div class="message-container" *ngIf="fFaculty.submitted && abbreviationFaculty.invalid">
              <span class="message error" *ngIf="abbreviationFaculty.errors.required">Abbreviation is required!</span>
              <span class="message error" *ngIf="abbreviationFaculty.errors.minlength">Abbreviation must be at least 2 characters</span>
            </div>
          </div>

          <button mat-button aria-label="Add Faculty button" class="add-button">
            <mat-icon>add_circle_outline</mat-icon>
            <span>Save Faculty</span>
          </button>
        </form>
      </div>
      <table mat-table [dataSource]="dataSourceFaculties" class="mat-elevation-z8 table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="abbreviation">
          <th mat-header-cell *matHeaderCellDef> Abbreviation </th>
          <td mat-cell *matCellDef="let element"> {{element.abbreviation}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button aria-label="Edit Faculty button" (click)="editFaculty(row)">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button aria-label="Delete Faculty button" (click)="deleteFaculty(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsFacultyTable; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsFacultyTable;"></tr>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Field of study">
    <div class="container-component">
      <div class="form-add-fieldOfStudy">
        <form (ngSubmit)="fFieldOfStudy.form.valid && saveFieldOfStudy(fFieldOfStudy)" #fFieldOfStudy="ngForm" novalidate>
          <div class="input-item">
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput [(ngModel)]="fieldOfStudyToSave.name" name="name"
                     required minlength="2" maxlength="100" #nameFieldOfStudy="ngModel">
            </mat-form-field>
            <div class="message-container" *ngIf="fFieldOfStudy.submitted && nameFieldOfStudy.invalid">
              <span class="message error" *ngIf="nameFieldOfStudy.errors.required">Name is required!</span>
              <span class="message error" *ngIf="nameFieldOfStudy.errors.minlength">Name must be at least 2 characters</span>
            </div>
          </div>

          <div class="input-item">
            <mat-form-field appearance="standard">
              <mat-label>Type</mat-label>
              <mat-select [(ngModel)]="fieldOfStudyToSave.type" name="type"
                          required #studyType="ngModel">
                <mat-option *ngFor="let type of studyTypes" [value]="type"> {{type}} </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="message-container" *ngIf="fFieldOfStudy.submitted && studyType.invalid">
              <span class="message error" *ngIf="studyType.errors.required">Type is required!</span>
            </div>
          </div>

          <div class="input-item">
            <mat-form-field appearance="standard">
              <mat-label>Mode</mat-label>
              <mat-select [(ngModel)]="fieldOfStudyToSave.mode" name="mode"
                          required #mode="ngModel">
                <mat-option *ngFor="let mode of studyModes" [value]="mode"> {{mode}} </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="message-container" *ngIf="fFieldOfStudy.submitted && mode.invalid">
              <span class="message error" *ngIf="mode.errors.required">Mode is required!</span>
            </div>
          </div>

          <div class="input-item">
            <mat-form-field appearance="standard">
              <mat-label>Faculty</mat-label>
              <mat-select [(ngModel)]="fieldOfStudyToSave.abbreviationFaculty" name="abbreviationFaculty"
                          required #faculty="ngModel">
                <mat-option *ngFor="let faculty of faculties" [value]="faculty.abbreviation">
                  {{faculty.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="message-container" *ngIf="fFieldOfStudy.submitted && faculty.invalid">
              <span class="message error" *ngIf="faculty.errors.required">Faculty is required!</span>
            </div>
          </div>

          <button mat-button aria-label="Add FieldOfStudy button" class="add-button">
            <mat-icon>add_circle_outline</mat-icon>
            <span>Save Field Of Study</span>
          </button>
        </form>
      </div>
      <table mat-table [dataSource]="dataSourceFieldsOfStudy" class="mat-elevation-z8 table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="mode">
          <th mat-header-cell *matHeaderCellDef> Mode </th>
          <td mat-cell *matCellDef="let element"> {{element.mode}} </td>
        </ng-container>

        <ng-container matColumnDef="abbreviationFaculty">
          <th mat-header-cell *matHeaderCellDef> Faculty </th>
          <td mat-cell *matCellDef="let element"> {{element.abbreviationFaculty}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button aria-label="Edit FieldOfStudy button" (click)="editFieldOfStudy(row)">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button aria-label="Delete FieldOfStudy button" (click)="deleteFieldOfStudy(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsFieldOfStudyTable; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsFieldOfStudyTable;"></tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
