@import "../../../../variables.scss";

.form-add-faculty > form {
  display: flex;
  flex-direction: row;

  .input-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 1%;
    &:first-child {
      margin-left: 2%;
    }
  }

  button {
    width: 15%;
    margin-left: 1%;
    margin-right: 2%;
  }
}

.form-add-fieldOfStudy > form {
  display: flex;
  flex-direction: row;

  .input-item {
    display: flex;
    flex-direction: column;
    width: 18%;
    margin: 0 1%;
  }

  button {
    width: 18%;
    margin: 0 1%;
  }
}

.table {
  margin-top: 1em;
}
