.my-groups {
  background-color: #ECF1FC;
}

.to-enroll {
  background-color: #DEFFD9;
}

.full {
  background-color: #FDEEEA;
}

.info-blocked-registration {
  color: #e74c3c;
  text-align: center;
  font-size: 18px;
  margin-top: 1em;
}
